<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FUT TRAINING F2G</title>
    <link rel="stylesheet" href="~/css/baseaplicacion.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/F2GTraining.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="header-pagina">
            <div class="name-app">
                <p>FUT TRAINING F2G</p>
            </div>
            @*<div class="login-section">
                <a asp-controller="Usuarios" asp-action="InicioSesion">Iniciar sesión</a>
            </div>*@
            @*<div class="login-section">
                <a asp-controller="Usuarios" asp-action="RegistroUsuario">Registrarse</a>
            </div>*@
            @*<div class="login-section">
                <a asp-controller="Usuarios" asp-action="InicioSesion">Volver a login</a>
            </div>*@
            <div class="user-section">
                <p>NOMBRE DE USUARIO</p>
                <a asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesion</a>
            </div>
        </div>
    </header>

    <div class="contenedor-pagina">
        <main>
            @RenderBody()
        </main>
    </div>

    <div class="footer-pagina">
        <p>App creada por: F2G-COMPANY</p>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
