@{
    Usuario user = Context.Session.GetObject<Usuario>("USUARIO");
}

@section CSSLinks{
    <link rel="stylesheet" href="~/css/listasesiones.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true"/>
}

@section ZonaLogueo{
    <div class="user-section">
        <p>@user.Nombre</p>
        <a asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesion</a>
    </div>
}

@section Scripts{
    <script src="~/js/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/js/listasesiones.js" asp-append-version="true"></script>
}

<div class="view-sessions-zone">
    <div class="team-title">
        <p>SESIONES DE ENTRENAMIENTO: NOMBRE DEL EQUIPO</p>
    </div>
    <div class="sessions-site">
        <div class="session-name" onclick="muestraOpciones(1)">
            PARTIDO AMISTOSO CONTRA ATLETICO JAGUEIRO FC
        </div>
        <div class="session-options" id="sessionopt-1">
            <button onclick="location.href='@Url.Action("VistaEntrenamiento", "Entrenamientos", new { idsesion = 1, idequipo=ViewData["IDEQUIPO"] })'">VER SESION</button>
            <button onclick="location.href='@Url.Action("EliminaEntrenamiento", "Entrenamientos", new { idsesion = 1, idequipo=ViewData["IDEQUIPO"]  })'">BORRAR SESION</button>
        </div>
        @*<p>SIN SESIONES</p>*@
    </div>
    <div class="border-sessions"></div>
    <div class="button-zone">
        <button onclick="vuelveInicio()" class="back-button">VOLVER</button>
        <button onclick="crearSesion()" class="new-session">CREAR SESION</button>
    </div>
</div>